extends layouts/main.pug

block maincontent
    .admin__header
        .admin__header-text
            span.admin__header-span 게시글 목록
    .admin__column
        .admin__column-box
            .admin__column-list 
                .admin__column-listBox.listBoxName 제목
            .admin__column-list 
                .admin__column-listBox.listBoxTags 태그
            .admin__column-list 
                .admin__column-listBox.listBoxExpired 기한
            .admin__column-list 
                .admin__column-listBox.listBoxOutline 개요
            .admin__column-list 
                .admin__column-listBox.listBoxRange 대상자
            .admin__column-list 
                .admin__column-listBox.listBoxLink 링크
            .admin__column-list 
                .admin__column-listBox.listBoxEval 평가
            .admin__column-list 
                .admin__column-listBox.listBoxRating 평점
            .admin__column-list 
                .admin__column-listBox.listBoxUpdate 수정    
            .admin__column-list 
                .admin__column-listBox.listBoxDelete 삭제

    <hr>
    .admin__content
        each item in contents
            .admin__content-box
                .admin__content-list
                    a(href="detail/"+item.id)
                        .admin__content-listBox.listBoxName #{item.name}
                .admin__content-list
                    .admin__content-listBox.listBoxTags 
                        each tag in item.tags.tagsArr
                            span.content-listBox-tag #{tag+"|"}
                .admin__content-list
                    .admin__content-listBox.listBoxExpired
                        if item.startDate.everyday === true
                                span 상시
                        else if item.expiredDate.rawExpiredDate > new Date()
                                span 만료
                        else
                                span #{item.startDate.startyear}-#{item.startDate.startmonth}-#{item.startDate.startday} ~ #{item.expiredDate.expiredyear}-#{item.expiredDate.expiredmonth}-#{item.expiredDate.expiredday}
                .admin__content-list
                    .admin__content-listBox.listBoxOutline #{item.outline}
                .admin__content-list
                    .admin__content-listBox.listBoxRange #{item.range}
                .admin__content-list
                    .admin__content-listBox.listBoxLink
                        a(href=item.url)
                            .admin-url-text 사이트 링크
                .admin__content-list
                    .admin__content-listBox.listBoxEval #{item.evaluation}
                .admin__content-list
                    .admin__content-listBox.listBoxRating #{item.rating}
                .admin__content-list
                    .admin__content-listBox.listBoxUpdate
                        a(href="/update/"+item.id) 수정
                .admin__content-list
                    .admin__content-listBox.listBoxDelete
                        a(href="/delete/"+item.id) 삭제
            <hr>

    .admin__endText
        .admin__endText-text 끝
        



